/* .formkit-outer {
  width: fit-content !important;
  font-size: 24px !important;
  border: 1px solid greenyellow !important;
  * {
    border: 1px solid greenyellow !important;
  }
}

.formkit-inner {
  width: auto !important;
  border: 1px solid white !important;
} */

.emmanuele {
  border: 1px solid red !important;
}
